<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>

            <mat-card-title class="title">Fundoo Notes </mat-card-title><br><br>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <form class="example-form">

            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" [formControl]="emailId">
                    <mat-error *ngIf="emailId.invalid">{{getEmailError()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password" [formControl]="password">
                    <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Log in</button><br><br>
            <a href="/register" style="font-size: 20px;">Create Account</a>&nbsp;&nbsp;<a routerLink="/forgotpassword" style="font-size: 20px;">Forgot Password</a>

        </form>
    </mat-card>

</div>