<div style="height: 13em; width: 37em; padding: 0px 0px;margin: 0px 0px;" mat-dialog-content fxLayout="column" fxFlex>
    <div id="pindiv">
      
    </div>
    <textarea id="title" [(ngModel)]="note.title" style="border: none;" matInput type="text" class="input sizeof"
        placeholder="Title"></textarea>
    <textarea id="desc" style="border: none; " matInput type="text" class="input sizeof" placeholder="Take a note"
        [(ngModel)]="note.description"></textarea>
    <div class="lastEdit">
        <span>Last Edit:{{note.updatedtime}}</span>
    </div>
    <div class="icon" mat-dialog-actions>
  
  <app-noteicon class="app-note-list sizeof"></app-noteicon>
        <div class="div-button" button (click)="onSubmit()||open=!open"><button
                style="border: none; padding-right: 45px;">Close</button></div>
    </div>
</div>

