.search-label{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
input{
    width: 15em auto;
    height: 30px;
}
.label-list{
    display: list-item;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}