<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title class="title">Fundoo Notes </mat-card-title>
            <mat-card-title class="subtitle">Reset Password</mat-card-title>
        </mat-card-header>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" type="password" [formControl]="password">
                <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Confirm Password" type="password" [formControl]="confirmpassword">
                <mat-error *ngIf="confirmPassword.invalid">{{getConfirmPasswordError()}}</mat-error>
            </mat-form-field>
            <button mat-stroked-button color="accent" class="btn-block" (click)="onSubmit()">Submit</button><br><br>
        </form>
    </mat-card>

</div>