<div id="container" >
    <div class="matDisplay"  >
        <mat-card [style.background-color]="noteDetail.colour">
            <div *ngIf="!pin">
                <button mat-icon-button class="pin" >
                  <mat-icon >
                    <img src="../../../assets/icons/pinned.svg">
                  </mat-icon>
                </button>
              </div>
            <div class="matTitle">
                <mat-card-title>
                    {{noteDetail.title}}
                    
                </mat-card-title>
            </div>
            <div class="matDesc">
                <mat-card-content>
                    {{noteDetail.description}}
                </mat-card-content>
            </div>
            <div class="noteIcon">
                <button mat-icon-button>
                    <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>person_add</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>color_lens</mat-icon>
                </button >
                <button mat-icon-button>
                    <mat-icon>crop_original</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>archive</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>
</div>
