#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    margin: 0.75rem;
    align-items: flex-end;
    width: auto;
}

.matDisplay{
    display: flex;
    width: 20rem;
    height: auto;
   
}

mat-card{
    border-radius: 15px;
    border: 1px solid transparent;
    margin-bottom: 0.75rem;
    margin-right: 0;
    background-color: transparent;
}

.noteIcon{
    // display: flex;
    // justify-content: space-around;
    // display: flex;
    // width: 50%;
    // flex-direction: row;
    // justify-content: space-around;
    display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
    
}
.pin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 17em;
    visibility: visible;
  }
  .app-note-list {
    display: flex;
   
    flex-direction: row;
    justify-content: space-around;
    width: 100% auto;
  }