<div id="container" >
    <div class="matDisplay"  >
        <mat-card [style.background-color]="noteDetail.colour">
            <div *ngIf="!noteDetail.isPinned">
                <button mat-icon-button class="pin" >
                  <mat-icon >
                    <img src="../../../assets/icons/pinned.svg">
                  </mat-icon>
                </button>
              </div>
              <div *ngIf="noteDetail.isPinned">
                <button mat-icon-button class="pin" >
                  <mat-icon >
                    <img src="../../../assets/icons/notpinned.svg">
                  </mat-icon>
                </button>
              </div>
            <div class="matTitle">
                <mat-card-title (click)="open(noteDetail)">
                    {{noteDetail.title}}
                    
                </mat-card-title>
            </div>
            <div class="matDesc">
                <mat-card-content (click)="open(noteDetail)">
                    {{noteDetail.description}}
                </mat-card-content>
            </div>

            <div style="margin-bottom: 0.9rem;" class="reminder" *ngIf="noteDetail.reminder">
                <label style=" background: transparent;background-clip: padding-box; border-radius: 1rem; background-color: rgba(0,0,0,.1);border: solid transparent; padding: 5px ;text-align: center;" [matMenuTriggerFor]="customdate">{{noteDetail.reminder}}</label>
            </div>

            <div class="labels" >
                <!-- <div *ngFor="let label of labelArray | label:noteDetail.noteid" style="margin-bottom: 0.9rem;"> -->
                    <!-- <label style=" background: transparent;background-clip: padding-box; border-radius: 1rem; background-color: rgba(0,0,0,.2);border: solid transparent; padding: 5px ;text-align: center;" >{{label.labelName}}</label> -->
                    
                <!-- </div> -->
                <label style=" background: transparent;background-clip: padding-box; border-radius: 1rem; background-color: rgba(0,0,0,.2);border: solid transparent; padding: 5px ;text-align: center;" >{{noteDetail.lname}}</label>
            </div>
            <div class="noteIcon">
                <!-- <button mat-icon-button>
                    <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>person_add</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>color_lens</mat-icon>
                </button >
                <button mat-icon-button>
                    <mat-icon>crop_original</mat-icon>
                </button>
                <div>
                    <button  mat-icon-button  *ngIf="!noteDetail.isArchived" (click)="isArchive=!isArchive">
                        <mat-icon>archive</mat-icon>
                    </button>
                </div>
                <div>
                    <button  mat-icon-button  *ngIf="noteDetail.isArchived" (click)="isArchive=!isArchive" >
                        <mat-icon>unarchive</mat-icon>
                    </button>
                </div>
                <div>
                    <a><img mat-icon-button [matMenuTriggerFor]="menu" style="height: 1.5rem; width: 2rem; margin-top: 0.5rem;" src="assets/icons/morebutton.svg" matTooltip="More"></a>
            
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onClickDeleteNote(noteDetail.noteid)">Delete Note</button>
                    <button mat-menu-item [matMenuTriggerFor]="label">Add Label</button>
                </mat-menu>
            
                <mat-menu #label="matMenu">
                    <p style="padding: 1rem;">Label</p>
                  </mat-menu>
                </div> -->
                
                
                
            </div>
            <app-noteicon class="app-note-list sizeof" ></app-noteicon>
        </mat-card>
    </div>
</div>
<mat-menu #customdate="matMenu">
    <div style="margin-left: 50px;">
      <mat-form-field (click)="$event.stopPropagation();">
        <input matInput (dateChange)="addEvent('change', $event)" [matDatepicker]="picker" placeholder="Choose a date" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field (click)="$event.stopPropagation();">
        <mat-select placeholder="Time" name="time" [(ngModel)]="reminderTime">
          <mat-option value="8:00 AM">
            Morning 8:00 AM
          </mat-option>
          <mat-option value="1:00 PM">
            Afternoon 1:00 PM
          </mat-option>
          <mat-option value="6:00 PM">
            Evening 6:00 PM
          </mat-option>
          <mat-option value="8:00 PM">
            Night 8:00 PM
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field (click)="$event.stopPropagation();">
        <mat-select placeholder="Repeat" name="repeat" [(ngModel)]="reminderFrequency">
          <mat-option value="Does not repeat">
            Does not repeat
          </mat-option>
          <mat-option value="Daily">
            Daily
          </mat-option>
          <mat-option value="Weekly">
            Weekly
          </mat-option>
          <mat-option value="Monthly">
            Monthly
          </mat-option>
          <mat-option value="Yearly">
            Yearly
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button style="margin-left: 65%" mat-button (click)="addReminder(record.noteId)">Save</button>
  </mat-menu>
