<div id="container" >
    <div class="matDisplay"  >
        <mat-card [style.background-color]="noteDetail.colour">
            <div *ngIf="!noteDetail.isPinned">
                <button mat-icon-button class="pin" >
                  <mat-icon >
                    <img src="../../../assets/icons/pinned.svg">
                  </mat-icon>
                </button>
              </div>
              <div *ngIf="noteDetail.isPinned">
                <button mat-icon-button class="pin" >
                  <mat-icon >
                    <img src="../../../assets/icons/notpinned.svg">
                  </mat-icon>
                </button>
              </div>
            <div class="matTitle">
                <mat-card-title>
                    {{noteDetail.title}}
                    
                </mat-card-title>
            </div>
            <div class="matDesc">
                <mat-card-content>
                    {{noteDetail.description}}
                </mat-card-content>
            </div>
            <div class="noteIcon">
                <button mat-icon-button>
                    <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>person_add</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>color_lens</mat-icon>
                </button >
                <button mat-icon-button>
                    <mat-icon>crop_original</mat-icon>
                </button>
                <div>
                    <button  mat-icon-button  *ngIf="!noteDetail.isArchived" (click)="isArchive=!isArchive">
                        <mat-icon>archive</mat-icon>
                    </button>
                </div>
                <div>
                    <button  mat-icon-button  *ngIf="noteDetail.isArchived" (click)="isArchive=!isArchive" >
                        <mat-icon>unarchive</mat-icon>
                    </button>
                </div>
                <div>
                    <a><img mat-icon-button [matMenuTriggerFor]="menu" style="height: 1.5rem; width: 2rem; margin-top: 0.5rem;" src="assets/icons/morebutton.svg" matTooltip="More"></a>
            
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onClickDeleteNote(noteDetail.noteid)">Delete Note</button>
                    <button mat-menu-item [matMenuTriggerFor]="label">Add Label</button>
                </mat-menu>
            
                <mat-menu #label="matMenu">
                    <p style="padding: 1rem;">Label</p>
                  </mat-menu>
                </div>
            </div>
        </mat-card>
    </div>
</div>
