
<div >
    <a ><img src="assets/icons/remainder.svg" (click)="open(note.id)" matTooltip="Add Reminder" [matMenuTriggerFor]="reminder"></a>
</div>

<div >
    <a (click)="opencol()"><img src="assets/icons/collab.svg" matTooltip="Add Collobrate"></a>
</div>

<div >
    <a><img src="assets/icons/colourplate.svg" [matMenuTriggerFor]="colorlist" matTooltip="Add Color"></a>
</div>

<mat-menu #colorlist="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent>
        <div>
            <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 1px" *ngFor="let colors of arrayOfColors">
                <div *ngFor="let color of colors">
                    <button [ngStyle]="{ 'background-color': color.color }" (click)="setColor((color.color))"
                        matTooltip="{{ color.name }}" mat-mini-fab></button>

                </div>
            </div>
        </div>
    </ng-template>
</mat-menu>

<div >
    <a ><img src="assets/icons/addimage.svg" matTooltip="Add Image"></a>
</div>

<div  >
   <a (click)="Archive()"> <img src="assets/icons/archive.svg"  matTooltip="Archive"></a>
</div>


<div>
    <a><img mat-icon-button [matMenuTriggerFor]="menu" style="height: 1.5em; width: 2em;" src="assets/icons/morebutton.svg" (click)="onclicksetNoteid(note.id)"
            matTooltip="More"></a>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="Delete()">Delete Note</button>
       
        <button mat-menu-item  (click)="openLabel(note)">Add Label</button>
        <button mat-menu-item>Add Drawing</button>
    </mat-menu>

</div>
<mat-menu #reminder="matMenu">
    <div style="margin: 20px;">
      Reminder:
    </div>
    <button class="matmenu" mat-menu-item (click)="reminderAdd('today')">
      <span>Later today</span>
      <span style="margin-left: 100px;">08:00 PM</span>
    </button>
    <button class="matmenu" mat-menu-item (click)="reminderAdd('tomorrow')">
      <span>Tomorrow</span>
      <span style="margin-left: 110px;">08:00 AM</span>
    </button>
    <button class="matmenu" mat-menu-item (click)="reminderAdd('next')">
      <span>Next week</span>
      <span style="margin-left: 75px;">Mon, 08:00 AM</span>
    </button>
    <button class="matmenu" mat-menu-item [matMenuTriggerFor]="customdate">
      <mat-icon style="font-size: 18px; margin: 1px;">access_time</mat-icon>
      <span>Pick date & time</span>
    </button>
  </mat-menu>
  <mat-menu #customdate="matMenu">
    <div style="margin-left: 50px;">
      <mat-form-field (click)="$event.stopPropagation();">
        <input matInput (dateChange)="addEvent('change', $event)" [matDatepicker]="picker" placeholder="Choose a date" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field (click)="$event.stopPropagation();">
        <mat-select placeholder="Time" name="time" [(ngModel)]="reminderTime">
          <mat-option value="8:00 AM">
            Morning 8:00 AM
          </mat-option>
          <mat-option value="1:00 PM">
            Afternoon 1:00 PM
          </mat-option>
          <mat-option value="6:00 PM">
            Evening 6:00 PM
          </mat-option>
          <mat-option value="8:00 PM">
            Night 8:00 PM
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field (click)="$event.stopPropagation();">
        <mat-select placeholder="Repeat" name="repeat" [(ngModel)]="reminderFrequency">
          <mat-option value="Does not repeat">
            Does not repeat
          </mat-option>
          <mat-option value="Daily">
            Daily
          </mat-option>
          <mat-option value="Weekly">
            Weekly
          </mat-option>
          <mat-option value="Monthly">
            Monthly
          </mat-option>
          <mat-option value="Yearly">
            Yearly
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button style="margin-left: 65%" mat-button (click)="addReminder(record.noteId)">Save</button>
  </mat-menu>
  
