.createnote{
    justify-content: center;
}
.notedata{
    border:none;
    width: 400px;
    align-content: center;
 }
 .takeNote{
   margin-top: 10px;
   width: 550px;
   height: 12px;
   justify-content: center;
 }