    
.main{
    display: flex;
    justify-content: center;
    width: 10px;
    margin-top: 20px;
    margin-bottom: 4%;
}

.mat-form-field-underline .mat-form-field-ripple {
    background: orange !important;
    border: none;
    outline: none;
  }
  ::ng-deep .mat-input-wrapper{
    background-color:white; 
   }
   

.searchBar
{
   
   border:none;
   outline:none;
}
mat-card{
    width: 47em;
    border-radius: 13px;
    padding: 0px;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 1px 1Px 1.5px 1.5px  rgb(185, 184, 184);
}
textarea{
    border: none;
    height: 1.2em;
    margin-bottom: 0px;
    padding: 16px;
    font-weight: bolder;
    outline: none;
}
input:placeholder-shown{

    font-size: 20px;
    font-weight: bolder;
    font-family: 'Product Sans',Arial,sans-serif;
  }

#title::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#desc::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#title{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#desc{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#pin{
    height: 30px;
    width:30px;
    font-weight: bolder;
}
#pindiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2em;
}
.icon{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.app-note-list{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
}
.div-button{
    margin-right: 28px;
    margin-bottom: 10px;
}
button{
  background-color: whitesmoke; /* Green */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  padding: 10px;
  margin-left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  outline: none;
}
button:active{
    background-color: gainsboro;
}

div.note-div:active {
    background-color: rgb(231, 201, 144);
  } 