.createnotes{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin-top: 2%;
    margin-bottom: 4%;
    
   
}
.searchBar
{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 90%;
    // box-sizing: border-box;
    border:none;
    outline:none;
    float: left;
}
.matcard{
    display: flex;
    justify-content: center;
    width: 45%;
    border-radius: 1em;
    height: 4%;
}
.icondiv{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
    border-radius: 1em;
    height: 4%;
    
}
.matcard1{
    display: flex;
   // justify-content: center;
    width: 45%;
    border-radius: 1em;
    height: 12em;
    
} 
textarea{
    border: none;
    height: 1.2em;
    margin-bottom: 0px;
    padding: 16px;
    font-weight: bolder;
    outline: none;
}
input:placeholder-shown{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Product Sans',Arial,sans-serif;
  }
#title::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#desc::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#title{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#description{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
icon{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
     background-color: whitesmoke;
     border: none;
     color: black;
     text-align: center;
     text-decoration: none;
     display: flex;
     font-size: 16px;
     padding: 10px;
     margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    outline: none;
margin-top: 20%;
    padding-right: 45px;
  }
 
  button:active{
      background-color: gainsboro;
  }
.onClickTitle{
    resize: none;
    border:none;
    outline: none;
    width: 260%;
}
.description{
    resize: none;
    border:none;
    outline: none;
    width: 260%;

}
