 <div class="createnotes" >
    <mat-card  class="matcard" *ngIf="!open" (click)="onopen()">
        <input matInput class="searchBar" placeholder="Take a note...">
        <div class="icondiv">
            <mat-icon style="margin-left: 10px;">check_box</mat-icon>
            <mat-icon style="margin-left: 10px;">brush</mat-icon>
            <mat-icon style="margin-left: 10px;">crop_original</mat-icon>
        </div>
    </mat-card>
    <mat-card class="matcard1"  *ngIf="open"  fxLayout="column">        
        <!-- <textarea id="title"  style="border: none;" [formControl] ="titleFormControl" matInput type="text" class="input" placeholder="Title"></textarea> -->
        
        <div fxLayout="row wrap" fxLayoutGap="120px">
        <div>
            <textarea matInput class="onClickTitle" placeholder="Title" [formControl]="titleFormControl"
              [style.background-color]="color"></textarea>
          
          <!-- <div *ngIf="!pin">
            <button mat-icon-button style="margin:10px;" (click)="pin=!pin;archive=false">
              <mat-icon class="pin">
                <img src="../../../assets/icons/pinned.svg">
              </mat-icon>
            </button>
          </div>
          <div *ngIf="pin">
            <button mat-icon-button style="margin:10px;" (click)="pin=!pin ;archive=false">
              <mat-icon class="pin">
                <img src="../../../assets/icons/notpinned.svg">
              </mat-icon>
            </button>
            </div> -->
          </div>
          </div>
          
            <textarea class="description" style="border: none; "  [formControl] ="descriptionFormControl" matInput type="text" class="input" placeholder="Take a note"></textarea>
            <div class="icon" > 
                <div class="button" fxLayout="row wrap" fxLayoutGap="10px">
                                <div (click)="open=!open">
                    <button (click)="onCreateNote()" >Close</button>
                    </div>
                </div>
            </div> 
        </mat-card>    
</div> 