
.search-label {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  #img:hover {
    background-color: rgb(231, 230, 230);
    height: 15px;
    width: 5px;
    border-radius: 30%;
    display: inline-block;
  }
  .img-edit {
    align-items: flex-end;
    margin-left: 70px;
  }
  .labelbox{
    width: 280px;
     height: 30px;
     outline: none;
  }
 