
#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    margin-left: 12rem;
    margin-right: 5rem;
    align-items: flex-end;
    width: auto;
}
.label{
    justify-content: flex-start;
}
