<div class="dashboard">
    <div>
        <mat-toolbar>
            <mat-toolbar-row>
                <span>
            <button  mat-icon-button (click)="sidenav.toggle()" class="menu">

              <mat-icon>menu</mat-icon>
            </button>
          </span>
                <img class="image" src="http://icons.iconarchive.com/icons/carlosjj/google-jfk/48/keep-icon.png" />
                <span class="keep">Fundoo</span>
                <div class="searchButton">
                    <button mat-icon-button class="search">
              <mat-icon>search</mat-icon>
            </button>
                    <input class="searchData" placeholder="Search" type="text" [(ngModel)]="title" (input)="searchNote()">
                    <!-- <button mat-icon-button class=" clear">
                <mat-icon>clear</mat-icon>
                </button> -->
                <!-- <div class="searchData">
                  <input type="text" placeholder="Search" [(ngModel)]="title" (input)="searchNote()" style="height: 40px;width: 800px;">
                </div> -->
                </div>
                <div>
                    <button mat-icon-button class="buttonhover">
              <mat-icon >refresh</mat-icon>
            </button>
                </div>
                <div><button mat-icon-button class="buttonhover">
            <mat-icon >grid_view</mat-icon>
          </button></div>
                <div><button mat-icon-button class="buttonhover">
            <mat-icon >settings</mat-icon>
          </button></div>
                <div><button mat-icon-button class="buttonhover">
            <mat-icon >apps</mat-icon>
          </button></div>
          <div>
            <button  mat-raised-button  (click)="signout()">Sign Out</button>
          </div>

            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="sidenavContainer">
        <mat-sidenav-container class="sidenavContainer1">
            <mat-sidenav class="matSidenav" #sidenav mode="side">

                <div class="navdiv1">
                    <button mat-raised-button class="navbutton" (click)="note()" type="submit">
                      <mat-icon class ="sidenavIcon">lightbulb_outline</mat-icon>
                       <span class= "iconcenter">Notes</span>
                       </button>

                    <button mat-raised-button class="navbutton">
                      <mat-icon class ="sidenavIcon">notifications</mat-icon>
                        <span class="iconcenter">Reminders</span>
                       </button>

                </div>
                <mat-divider class="divider"></mat-divider>
                <div>
                    <span class="label">LABELS</span>
                    <div>
                      <div *ngFor="let label of labels">
                        <div class="LabelDiv" style="text-decoration:none;">
                          <span ><img src="assets/icons/label.svg" class ="image" (click)="SetLabelId(label.labelId)"></span>
                          <span style=" padding-left: 30px; " (click)="SetLabelId(label.labelId)">{{label.labelName}}</span>
                        </div>
                      </div>
                        <button mat-raised-button class="navbutton" (click)="openDialog()">
                            <mat-icon class ="sidenavIcon">create</mat-icon>
                           <span class="iconcenter" >Edit labels</span>
                           </button>
                          
                </div>
              </div>
                <mat-divider class="divider"></mat-divider>

                <div>
                    <button mat-raised-button class="navbutton" (click)="onArchive()" type="submit">
                       <mat-icon class ="sidenavIcon">archive</mat-icon>
                       <span class="iconcenter">Archive</span>
                      </button>
                </div>
                <div>
                    <button mat-raised-button class="navbutton" (click)="ontrash()" type="submit">
                      <mat-icon class ="sidenavIcon">delete</mat-icon>
                      <span class= "iconcenter">Trash</span>
                      </button>
                </div>
            </mat-sidenav>

            <mat-sidenav-content class="sideContent">
              <router-outlet ></router-outlet>
              <!-- <app-displaynotes></app-displaynotes> -->
            </mat-sidenav-content>

        </mat-sidenav-container>
        
    </div>

</div>